body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color :#77AADD!important;
    font-family :Serif;
    font-size :10pt;
}

#page { /* Modifications : suppression de la bordure - marges */
    margin :0;
    border :none;
}

#entete, #actions-sidebar, #filtre_date, button { /* Les éléments qui ne seront pas affichés  */
    display :none;
}

a[href]:after {
    content:"";
    color:#888;
    background-color:inherit;
    font-style:italic;
}